:root {
  --base: #ffc600;
  --spacing: 10px;
  --blur: 10px;
}

.hl {
  color: var(--base);
}

body {
  text-align: center;
}

body {
  background: #193549;
  color: white;
  font-family: "helvetica neue", sans-serif;
  font-weight: 100;
  font-size: 50px;
}

.controls {
  margin-bottom: 50px;
}

a {
  color: var(--base);
  text-decoration: none;
}

input {
  width: 100px;
}

@media (max-width: 600px) {
  body {
    font-size: 30px;
  }
  input {
    width: 80px;
  }

  .controls {
    margin-bottom: 20px;
  }
}

@media (max-width: 400px) {
  body {
    font-size: 20px;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
}
